
PORT=3003
DATABASE_URL=postgresql://username:password@ep-your-neon-host.ap-south-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=change_this_secret_key
FRONTEND_ORIGIN=http://localhost:3001

AI_PROVIDER=groq
GEMINI_API_KEY=your_actual_gemini_key
GEMINI_MODEL=gemini-1.5-flash

GROQ_API_KEY=your_actual_groq_api_key
GROQ_MODEL=llama3-70b-8192
